@import url("./common.css");
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 5%;
  top: 40px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty {
  width: 40px;
  height: 5px;
  margin: 0 0 7px 0;
  background: #e4e4e4;
  border-radius: 50px;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:last-child {
  margin-bottom: 0;
}

.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.burger--close .burger__patty {
  border-radius: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
}

.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}

.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(9px, -8px);
          transform: rotate(-45deg) translate(9px, -8px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu--active {
  visibility: visible;
}

.menu__brand, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu__list {
  background: white;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .1s;
  transition: .1s;
}

.menu__brand {
  background: #008cff;
  background-size: contain;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__item {
  -webkit-transform: translate3d(650px, 0, 0);
          transform: translate3d(650px, 0, 0);
  width: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

.menu__link {
  display: inline-block;
  position: relative;
  font-size: 7rem;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  text-align: left;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__link:hover {
  color: #008cff;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__nav:hover {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.menu__work {
  font-size: 3rem;
  font-weight: normal;
  padding: 2px 0;
  padding-left: 20px;
}

.menu__work:hover span {
  -webkit-transition: .5s;
  transition: .5s;
  background: #008cff;
  border: none;
}

.menu__work span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #008cff;
  border-radius: 100%;
  margin-right: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__contact {
  font-size: 3rem;
  margin-top: 60px;
  font-weight: 700;
}

.menu__infotext {
  font-size: 1.6rem;
}

.menu__sns {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.menu .menu__item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.menu .menu__item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.menu .menu__item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.bg1 {
  position: fixed;
  z-index: 700;
  width: 100%;
  height: 100%;
  background: #f1f9ff;
}

.main__first {
  width: 100%;
  position: fixed;
  z-index: 900;
}

.main__visual {
  width: 80%;
  margin: 0 auto;
}

.main__visual p {
  font-size: 6rem;
  font-weight: normal;
  line-height: 1.2;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  opacity: 0;
  font-weight: bold;
  -webkit-animation: abouttitle 1s .3s forwards;
          animation: abouttitle 1s .3s forwards;
}

@-webkit-keyframes abouttitle {
  100% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
}

@keyframes abouttitle {
  100% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
}

.main__visual p:nth-of-type(1) {
  margin-top: 300px;
}

.main__visual p:nth-of-type(2)::after {
  content: '';
  display: inline-block;
  width: 0px;
  border-bottom: 2px solid #008cff;
  margin-left: 20px;
  -webkit-animation: aboutafter .5s 1.3s forwards;
          animation: aboutafter .5s 1.3s forwards;
}

@-webkit-keyframes aboutafter {
  100% {
    width: 100px;
  }
}

@keyframes aboutafter {
  100% {
    width: 100px;
  }
}

.main__visual span {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 4em;
  z-index: 700;
  left: -6%;
}

.main__visual canvas {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-image: url(../imgs/about_main_visual2.jpg);
  background-size: contain;
  width: 80%;
  cursor: crosshair;
  position: absolute;
  top: 500px;
  left: 10%;
  z-index: 700;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
  -webkit-animation: aboutvisual .7s 1.7s forwards;
          animation: aboutvisual .7s 1.7s forwards;
}

@-webkit-keyframes aboutvisual {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes aboutvisual {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main__second {
  width: 80%;
  bottom: 30%;
  position: fixed;
  z-index: 750;
}

.main__second p {
  letter-spacing: -0.2px;
  font-size: 1.9rem;
  position: relative;
  line-height: 2;
}

.main__second p:nth-of-type(1) {
  font-size: 6rem;
  margin: 30px 0;
  letter-spacing: 5px;
}

.main__second p:nth-of-type(1)::after {
  content: 'WHO AM I';
  display: inline-block;
  position: absolute;
  right: 0;
  font-weight: bold;
  color: transparent;
  font-size: 10rem;
  -webkit-text-stroke: 1px #008cff;
}

.main__second p:nth-of-type(2) {
  font-size: 3rem;
}

.main__second p:nth-of-type(2) strong {
  font-size: 3rem;
}

.main__second p:nth-of-type(3) {
  font-weight: bold;
  margin-bottom: 30px;
}

.main__second p strong {
  font-size: 1.9rem;
}

.about__third {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 750;
  background: white;
}

.about__third h2 {
  font-size: 5rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.2px;
  position: absolute;
  top: 45%;
}

.about__selfie {
  position: absolute;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  top: 50%;
}

.about__comment {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.about__comment li:nth-of-type(1) {
  margin-bottom: 70px;
}

.about__comment li h3 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #008cff;
}

.about__comment li .comment__title {
  font-size: 1.9rem;
  font-weight: bold;
  margin-right: 15px;
}

.about__comment li span {
  font-size: 2.1rem;
  line-height: 1.7;
  letter-spacing: -0.2px;
}

.skills__fourth {
  position: fixed;
  z-index: 750;
  width: 100%;
  height: 100%;
  background: white;
}

.skills__title {
  font-weight: normal;
  letter-spacing: -0.2px;
  position: absolute;
  top: 25%;
}

.skills__contents {
  position: absolute;
  left: 50%;
  top: 25%;
}

.skills__text {
  margin-bottom: 30px;
  padding-left: 90px;
  position: relative;
}

.skills__text::before {
  content: '';
  width: 70px;
  height: 70px;
  display: inline-block;
  background-image: url(../imgs/skill_icon1.jpg);
  border-radius: 50%;
  background-size: contain;
  z-index: 800;
  position: absolute;
  left: 0;
  top: 5px;
}

.skills__text h2 {
  font-size: 2rem;
  letter-spacing: -0.2px;
  margin-bottom: 8px;
}

.skills__text p {
  font-size: 1.9rem;
  letter-spacing: -0.2px;
}

.pr__fifth {
  position: fixed;
  z-index: 800;
  width: 100%;
  height: 100vh;
  background: #e4e4e4;
}

.pr__text {
  position: absolute;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  top: 50%;
}

.pr__text p {
  font-size: 13rem;
  font-weight: bold;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px #333333;
}

.pr__inner {
  position: fixed;
  z-index: 850;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.pr__inner h2 {
  font-size: 7rem;
  margin-bottom: 10px;
}

.pr__inner h2::after {
  content: '';
  display: inline-block;
  width: 40px;
  border-bottom: 2px solid #008cff;
  margin-left: 20px;
  -webkit-animation: aboutafter2 1s infinite;
          animation: aboutafter2 1s infinite;
}

@-webkit-keyframes aboutafter2 {
  100% {
    opacity: 0;
  }
}

@keyframes aboutafter2 {
  100% {
    opacity: 0;
  }
}

.pr__inner p {
  font-size: 3rem;
}

.pr__inner p:nth-of-type(1) {
  margin-bottom: 50px;
}
/*# sourceMappingURL=about.css.map */