@import url("./common.css");
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 5%;
  top: 40px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty {
  width: 40px;
  height: 5px;
  margin: 0 0 7px 0;
  background: #e4e4e4;
  border-radius: 50px;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:last-child {
  margin-bottom: 0;
}

.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.burger--close .burger__patty {
  border-radius: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
}

.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}

.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(9px, -8px);
          transform: rotate(-45deg) translate(9px, -8px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu--active {
  visibility: visible;
}

.menu__brand, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu__list {
  background: white;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .1s;
  transition: .1s;
}

.menu__brand {
  background: #008cff;
  background-size: contain;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__item {
  -webkit-transform: translate3d(650px, 0, 0);
          transform: translate3d(650px, 0, 0);
  width: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

.menu__link {
  display: inline-block;
  position: relative;
  font-size: 7rem;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  text-align: left;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__link:hover {
  color: #008cff;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__nav:hover {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.menu__work {
  font-size: 3rem;
  font-weight: normal;
  padding: 2px 0;
  padding-left: 20px;
}

.menu__work:hover span {
  -webkit-transition: .5s;
  transition: .5s;
  background: #008cff;
  border: none;
}

.menu__work span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #008cff;
  border-radius: 100%;
  margin-right: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__contact {
  font-size: 3rem;
  margin-top: 60px;
  font-weight: 700;
}

.menu__infotext {
  font-size: 1.6rem;
}

.menu__sns {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.menu .menu__item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.menu .menu__item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.menu .menu__item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.explan__first {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.explan__h1 {
  padding-top: 15%;
  padding-bottom: 1%;
}

.explan__h1 p {
  line-height: 1;
  font-weight: bold;
  font-size: 7rem;
}

.explan__h1 p:nth-of-type(3) {
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0;
  margin-top: 30px;
}

.explan__visual img {
  min-height: 500px;
}

.explan__second {
  height: 130vh;
  background-image: url(../imgs/work_background.jpg);
  padding: 0 5%;
  padding-top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.explan__second article:nth-of-type(1) {
  width: 45%;
}

.explan__second article:nth-of-type(2) {
  width: 45%;
}

.explan__second p {
  letter-spacing: -0.2rem;
}

.explan__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 250px;
}

.explan__text {
  width: 85%;
}

.explan__text h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.explan__text p {
  white-space: pre-wrap;
}

.explan__dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #008cff;
  border-radius: 50%;
  margin-right: 50px;
}

.explan__color {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #63b3e8;
  border-radius: 50%;
  margin: 0 10px;
}

.explan__color:nth-of-type(2) {
  background: #3885ca;
}

.explan__color:nth-of-type(3) {
  background: #8dd3ea;
}

.explan__color:nth-of-type(4) {
  background: #dafafc;
}

.explan__font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.explan__font p:nth-of-type(1) {
  font-size: 2.5rem;
}

.explan__font p:nth-of-type(2) {
  font-size: 2rem;
}

.explan__font p:nth-of-type(3) {
  font-size: 1.5rem;
}

.explan__font p:nth-of-type(4) {
  font-size: 1rem;
}

.explan__font div:nth-of-type(1) {
  margin-right: 30%;
}

.hash__tag {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hash__tag p {
  font-size: 7rem;
  letter-spacing: -0.5rem;
  color: #008cff;
  margin-bottom: 20px;
  font-weight: bold;
}

.img__slide {
  height: 120vh;
  width: 100%;
}

.img__move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -ms-overflow-style: none;
}

.img__move::-webkit-scrollbar {
  display: none;
}

.img__move.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.img__move img {
  margin-left: 5%;
}
/*# sourceMappingURL=daon.css.map */