@charset "utf-8";
@import url('./common.css');

// color------------------------
$white: white;
$gray: #e4e4e4;
$black: #333333;
$blue: #008cff;
// color------------------------


// font-size------------------------
$fontA : 1.6rem;
$fontB : 2rem;
$fontC : 3rem;
$fontD : 7rem;
$fontE : 11rem;
// font-size------------------------


// 헤더+버거메뉴----------------------------
@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.header {
  position: fixed; right:0%; top:5%;
  z-index: 888;
  width: 100%;
}

.burger {
  position: absolute;
  right: 5%;
  top: 40px;
  cursor: pointer;
  transform: rotateY(0);
  z-index: 999;

  @include easeOut;
  
  &__patty {
    width: 40px;
    height: 5px;
    margin: 0 0 7px 0;
    background: $gray;
    border-radius: 50px;

    @include easeOut;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);
    transition: .5s;
    transition-delay: .1s;

    .burger__patty {
        border-radius: 50px;
        transition: .5s;

      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -8px);
      }
    }
  }
}

.menu {
  position: fixed; z-index: 888;
  top: 0;
  width: 100%;
  visibility: hidden;
  
  &--active {
    visibility: visible;
  }
  
  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  
  &__list {
    background: $white;
    list-style-type: none;
    transform: translate3d(0, -100%, 0);

    @include easeOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
      transition: .1s;
    }
  }
  
  &__brand {
    background: $blue;
    background-size: contain;
    @include easeOut;
    transform: translate3d(0, 100%, 0);
    
    &--active {
      transform: translate3d(0, 0, 0);
      transition: .5s;
    }
  }
  
  &__item {
    transform: translate3d(650px, 0, 0);
    width:50%;
    opacity: 0;
    @include easeOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
      transition: .5s;
      opacity: 1;
    }
  }
  
  &__link {
    display: inline-block;
    position: relative;
    font-size: $fontD;
    font-weight: bold;
    color: $black;
    text-decoration: none;
    text-align: left;
    @include easeOut;

    &:hover{
      color: $blue;
      transition: .5s;
    }
  }

  &__nav{
    &:hover{
      transform: skew(15deg);
    }
  }

  &__work {
    font-size: 3rem;
    font-weight: normal;
    padding:2px 0;
    padding-left: 20px;

    &:hover span{
      transition:.5s;
      background: $blue;
      border: none;
    }

    span{
        display: inline-block;
        width: 10px; height:10px;
        border: 1px solid $blue;
        border-radius: 100%;
        margin-right: 20px;
      transition:.5s;

    }
  }

  &__contact{
      font-size: $fontC;
      margin-top: 60px;
      font-weight: 700;
  }

  &__infotext{
      font-size: $fontA;
  }

  &__sns{
      transform: translateY(100px);
  }

  
  // add delay to each menu item
  @for $x from 1 through 9 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

// responsive tablet view
@include tablet {
 ul.menu__list,
 div.menu__brand {
  float: none;
  width: 100%;
  min-height: 0;

   &--active {
     transform: translate3d(0, 0, 0);
   }
 }

 .menu__list {
   height: 75vh;
   transform: translate3d(-100%, 0, 0);
 }

 .menu__brand {
   height: 25vh;
   transform: translate3d(100%, 0, 0);
 }
}
// 헤더+버거메뉴----------------------------



// 메뉴 좌측 contact 원
.logo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  background: $white;

  h2{
      position: absolute;
      top:35%; left:50%;
      transform-origin: 50% 50%;
      transform:translate(-50%,-50%);
  }

  p{
    position: absolute;
    width: 100%;
    top:50%; left:50%;
    transform-origin: 50% 50%;
    transform:translate(-50%,-50%);
    text-align: center;

    strong{
        font-size: $fontB;
    }

    &:nth-of-type(2){top:57%;}
    &:nth-of-type(3){top:64%;}
  }
}
// 헤더+버거메뉴----------------------------




// 메인-------------------------------------    
.bg1{
  position: fixed; z-index: 500; width: 100%; height:100vh;
  background:rgba(73,173,255,1)
}

.main{
  &__first{
    width: 100%; height:100vh;
    background: $white;
    position: fixed; top:0; left:0; z-index: 500;

    div{position: absolute;}
  }

  &__h1{
    left:5%; top:5%;

    p{
      color: transparent;
      -webkit-text-stroke : 1px $blue;
      font-weight: bold;
      font-size: $fontE;

      &:nth-of-type(1){
        transform: translate(-20%, 0%); opacity: 0;
        animation: firstAni 1s 1s forwards; filter:blur(10px);
      }
      @keyframes firstAni{100%{transform:translate(0%, 0%); opacity: 1; filter:blur(0px)}}

      &:nth-of-type(2){
        transform: translate(20%, -30%); opacity: 0;
        animation: firstAni2 1s 1s forwards; filter:blur(10px);
      }
      @keyframes firstAni2{100%{transform:translate(0%, -30%); opacity: 1; filter:blur(0px)}}

      &:nth-of-type(3){
        transform: translate(-20%, -60%); opacity: 0;
        animation: firstAni3 1s 1s forwards; filter:blur(10px);
      }
      @keyframes firstAni3{100%{transform:translate(0%, -60%); opacity: 1; filter:blur(0px)}}
    }
  }

  &__h2{
    width: 90%;
    left:50%; top:55%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: -0.1rem;
    animation: firstAniH2 .5s 2s forwards;
    filter: blur(10px); opacity: 0;
    @keyframes firstAniH2{100%{filter:blur(0px);opacity:1}}

    h1{color: $black; font-size: 6rem;}
    p{ 
      display: inline-block; font-size:1.9rem;
      background: linear-gradient(to top, #7dc3f7 25%, transparent 25%);
    }
  }

  &__uiux{
    bottom:5%; right:5%;
    transform-origin: 100% 0%;
    transform:rotate(90deg);
    z-index: 999;

    p{
      font-size: 1.3rem;
      letter-spacing: .5rem;
    }
  }

  &__arrowicon{
    bottom:15%; left:50%;
    animation: arrowAni .4s alternate infinite;
  }
  @keyframes arrowAni{
    0%{transform:translateY(10px)}
  }

  &__arrow{
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 1px solid $blue;
    border-left: 1px solid $blue;
    transform: rotate(-135deg);
    animation: firstAniH2 .5s 2s forwards;
    filter: blur(10px); opacity: 0;

    &::after{
      content: '';
      display: block;
      width: 1px;
      height: 120px;
      background-color: $blue;
      transform: rotate(-45deg) translate(42px, 17px);
    }
  }
  &__uiux{
    animation: firstAniH2 .5s 2s forwards;
    filter: blur(10px); opacity: 0;
  }

}
// 메인-------------------------------------


/* body{color: #008cff71;} */
.main__waves {
  width: 100%;
  margin-bottom:-3px; /*Fix for safari gap*/
  position: absolute; bottom:-50%;
  animation: wavesAni 1s .1s forwards;
  @keyframes wavesAni{0%{bottom:-20%} 50%{bottom:-10%} 100%{bottom:0%}}
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 10s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 13s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 16s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 22s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* body{color: #008cff71;} */



// section-----------------------------
.section{
  &__static{
    position: fixed; width: 100%; height:100vh;
    box-shadow: 0 30px 30px rgba(0,0,0,0.01), 0 10px 10px rgba(0, 0, 0, 0.11);

    h2{
      font-size: 4.5rem; margin-bottom: 2%;
    }
  }

  &__text{
    position: absolute; transform-origin: 0% 50%; transform:translate(0%, -50%);
    top:50%; right:25%;
    h2{letter-spacing: -0.1rem; line-height: 1;}
  }

  &__text1{
    font-size: 2rem; letter-spacing: -0.1rem;
    background: linear-gradient(to top, #7dc2f777 70%, transparent 70%);
  }

  &__img{
    position: absolute; width: 50%; transform-origin: 0% 50%; transform:translate(0%, -50%);
    top:50%; left:10%;
    box-shadow: 0 30px 30px rgba(0,0,0,0.01), 0 10px 10px rgba(0, 0, 0, 0.11);  }
}
.sec1{
  z-index: 550;
}
.sec2{
  z-index: 600;
  background: $white;
}
.sec3{
  z-index: 650;
  background: $white;
}
.sec4{
  z-index: 700; height:40vh;
}
// section-----------------------------


.c--anim-btn, .c-anim-btn {
  transition: 0.3s;   
  white-space: pre-line;  
}

.c--anim-btn {
  margin-top: 15%;
  height: 95px; width: 95px;
  overflow: hidden;
  border: 1px solid $blue;
  border-radius: 50px;
  font-size: $fontA;
  cursor: pointer;
}

.c-anim-btn{
  margin-top: 1.5rem;  
  text-decoration: none;
  text-align: center;
  display: block;  
  font-size: $fontA;
  font-weight: normal;
  color: $blue;
  height: 100%;
}
.c-anim-btn2{
  text-align: center;
  display: block;  
  font-size: $fontA;
  font-weight: normal;
  color: $blue;
}

.c--anim-btn:hover .c-anim-btn{
  margin-top: -10rem;
}
.c--anim-btn:hover .c-anim-btn2{
  color: $white;
}

.c--anim-btn:hover{
  background:$blue;
}




// 미디어쿼리------------------------------
@media screen and(min-width:1025px){
  .main__firstmobile,.section__staticmobile{
    display: none;
  }
}

@media screen and (max-width: 1024px) { 
  .section__img{width: 40%;}

  .header{top:1%;}
  .main__h1{transform:translateY(50%);}
  .main__h1 p{font-size: 5.5rem;}
  .main__h2{top:40%;}

  .bg1,.main__first,.section__static{display: none;}

  .main{
    &__firstmobile{
      width: 100%; height:95vh;
      background: $white;
  
      div{position: absolute;}
    }
  
    &__h1mobile{
      left:5%; top:20%;
  
      p{
        color: transparent;
        -webkit-text-stroke : 1px $blue;
        font-weight: bold;
        font-size: 5rem;
  
        &:nth-of-type(1){
          transform: translate(-20%, 0%); opacity: 0;
          animation: firstAni 1s 1s forwards; filter:blur(10px);
        }
        @keyframes firstAni{100%{transform:translate(0%, 0%); opacity: 1; filter:blur(0px)}}
  
        &:nth-of-type(2){
          transform: translate(20%, -30%); opacity: 0;
          animation: firstAni2 1s 1s forwards; filter:blur(10px);
        }
        @keyframes firstAni2{100%{transform:translate(0%, -30%); opacity: 1; filter:blur(0px)}}
  
        &:nth-of-type(3){
          transform: translate(-20%, -60%); opacity: 0;
          animation: firstAni3 1s 1s forwards; filter:blur(10px);
        }
        @keyframes firstAni3{100%{transform:translate(0%, -60%); opacity: 1; filter:blur(0px)}}
      }
    }
  
    &__h2mobile{
      width: 90%;
      left:50%; top:55%;
      transform-origin: 50% 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      letter-spacing: -0.1rem;
      animation: firstAniH2 .5s 2s forwards;
      filter: blur(10px); opacity: 0;
      @keyframes firstAniH2{100%{filter:blur(0px);opacity:1}}
  
      h1{color: $black; font-size: 6rem;}
      p{ 
        display: inline-block; font-size:1.9rem;
        background: linear-gradient(to top, #7dc3f7 25%, transparent 25%);
      }
    }

    &__arrowiconmobile{
      bottom:15%; left:50%;
      animation: arrowAni .4s alternate infinite;
    }
    @keyframes arrowAni{
      0%{transform:translateY(10px)}
    }
  
    &__arrowmobile{
      display: block;
      margin: 30px auto;
      width: 25px;
      height: 25px;
      border-top: 1px solid $blue;
      border-left: 1px solid $blue;
      transform: rotate(-135deg);
      animation: firstAniH2 .5s 2s forwards;
      filter: blur(10px); opacity: 0;
  
      &::after{
        content: '';
        display: block;
        width: 1px;
        height: 120px;
        background-color: $blue;
        transform: rotate(-45deg) translate(42px, 17px);
      }
    }
    &__uiuxmobile{
      animation: firstAniH2 .5s 2s forwards;
      filter: blur(10px); opacity: 0;
    }
  
  }
  // 메인-------------------------------------
  
// section-----------------------------
.section{
  &__staticmobile{
    width: 100%; height:90vh; position: relative;
    border-bottom: 1px solid $gray;

    h2{font-size: 4rem; margin-bottom: 2%;}
  }

  &__media1024mobile{
    position: absolute; left:5%; top:25%;
  }
  &__textmobile{
    h2{letter-spacing: -0.1rem; line-height: 1;}
  }

  &__text1mobile{
    font-size: 2rem; letter-spacing: -0.1rem;
    background: linear-gradient(to top, #7dc2f777 70%, transparent 70%);
  }

  &__imgmobile{
    position: absolute; top:45%; left:5%;
    width: 90%; margin:0 auto;
    box-shadow: 0 30px 30px rgba(0,0,0,0.01), 0 10px 10px rgba(0, 0, 0, 0.11);  }
}
.c--anim-btnmobile {
  height: 60px; width: 60px;
  border: 1px solid $blue;
  border-radius: 50px;
  position: absolute; right:5%; top:27%;
}

.c-anim-btnmobile{
  margin-top: 2rem;  
  text-decoration: none;
  text-align: center;
  display: block;  
  font-size: 1.6rem;
  font-weight: normal;
  color: $blue;
  height: 100%;
}
// section-----------------------------

}
@media screen and (max-width: 768px) {  

}
@media screen and (max-width: 540px) { 



}

// 미디어쿼리------------------------------


