@import url('./common.css');

// color------------------------

$white: white;
$gray: #e4e4e4;
$black: #333333;
$blue: #008cff;


// color------------------------


// font-size------------------------

$font55 : 7rem;
$font16 : 1.6rem;
$font20 : 2rem;
$font30 : 3rem;

// font-size------------------------



@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 5%;
  top: 40px;
  cursor: pointer;
  transform: rotateY(0);

  @include easeOut;
  
  &__patty {
    width: 40px;
    height: 5px;
    margin: 0 0 7px 0;
    background: $gray;
    border-radius: 50px;

    @include easeOut;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);
    transition: .5s;
    transition-delay: .1s;

    
    .burger__patty {
        border-radius: 50px;
        transition: .5s;

      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -8px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  
  &--active {
    visibility: visible;
  }
  
  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  
  &__list {
    background: $white;
    list-style-type: none;
    transform: translate3d(0, -100%, 0);

    @include easeOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
      transition: .1s;
    }
  }
  
  &__brand {
    background: $gray;
    background-size: contain;
    @include easeOut;
    transform: translate3d(0, 100%, 0);
    
    &--active {
      transform: translate3d(0, 0, 0);
      transition: .5s;
    }
  }
  
  &__item {
    transform: translate3d(650px, 0, 0);
    width:50%;
    opacity: 0;
    @include easeOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
      transition: .5s;
      opacity: 1;
    }
  }
  
  &__link {
    display: inline-block;
    position: relative;
    font-size: $font55;
    font-weight: bold;
    color: $black;
    text-decoration: none;
    text-align: left;
    @include easeOut;
  }

  &__work {
    font-size: 3rem;
    font-weight: normal;
    padding:2px 0;
    padding-left: 20px;

    span{
        display: inline-block;
        width: 10px; height:10px;
        border: 1px solid $blue;
        border-radius: 100%;
        margin-right: 20px;
    }
  }

  &__contact{
      font-size: $font30;
      margin-top: 60px;
      font-weight: 700;
  }

  &__infotext{
      font-size: $font16;
  }

  &__sns{
      transform: translateY(100px);
  }

  
  // add delay to each menu item
  @for $x from 1 through 9 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

// responsive tablet view
@include tablet {
 ul.menu__list,
 div.menu__brand {
  float: none;
  width: 100%;
  min-height: 0;

   &--active {
     transform: translate3d(0, 0, 0);
   }
 }

 .menu__list {
   height: 75vh;
   transform: translate3d(-100%, 0, 0);
 }

 .menu__brand {
   height: 25vh;
   transform: translate3d(100%, 0, 0);
 }
}

// 메뉴 좌측 contact 원
.logo {
  width: 400px;
  height: 400px;
  border: 1px solid $black;
  border-radius: 50%;
  position: relative;

  h2{
      position: absolute;
      top:35%; left:50%;
      transform-origin: 50% 50%;
      transform:translate(-50%,-50%);
  }

  p{
    position: absolute;
    width: 100%;
    top:50%; left:50%;
    transform-origin: 50% 50%;
    transform:translate(-50%,-50%);
    text-align: center;

    strong{
        font-size: $font20;
    }

    &:nth-of-type(2){top:57%;}
    &:nth-of-type(3){top:64%;}
  }
}
