@import url('./common.css');


// color------------------------
$white: white;
$gray: #e4e4e4;
$black: #333;
$blue: #008cff;
// color------------------------

// font-size------------------------
$fontA : 1.6rem;
$fontB : 2rem;
$fontC : 3rem;
$fontD : 7rem;
$fontE : 13rem;
// font-size------------------------

//   daon main----------------------------------
.bg1{
  position: fixed; z-index: 700; width: 100%; height:100vh;
  background: $white;
}

.explan{
  &__first{
    width: 100%; height:100vh; position:fixed; z-index: 900;
    background:#f4f6fa;

    img{
      width: 70%;
      position: absolute; left:15%;
      box-shadow: 0 30px 30px rgba(0,0,0,0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
      border-radius: 20px;
      border: 1px solid $gray;
      padding:10px;
    }
  }
  &__worktitle{
    width: 70%; margin:0 auto; margin-top: 300px;
      p{
        font-size: 7rem; line-height: 1.1;
        filter: blur(50px); opacity: 0; font-weight: bold;
        animation: abouttitle 1s 1.5s forwards;
        @keyframes abouttitle{ 100% {filter: none; opacity: 1;} };
        &:nth-of-type(3){ font-weight: normal; font-size: $fontC; letter-spacing: 0; margin-top: 10px;}
      }
  }
  &__arrow{
    width: 70px; height:70px;
    position: absolute; right:15%; top:45%;
    border-top:1px solid $black;
    cursor: pointer;
    transform:rotate(-45deg); transition:.3s;
    transform-origin: 50% 0%;
    animation: abouttitle 1s 1.5s forwards;
    filter: blur(50px); opacity: 0;
    &:hover{transform:rotate(0deg);}

    &::after{
      content: ''; width: 40px;
      border-top:1px solid $black;
      display: inline-block; position: absolute; right:0;
      transform-origin: 100% 100%;
      transform:rotate(45deg);
      cursor: pointer;
    }
  }

  &__second{
    width:100%;height: 100vh;
    position: fixed;  z-index: 750; 

      article{
        position: absolute; top:60%; width: 30%;
        transform-origin: 0% 50%; transform:translate(0%,-50%);
        &:nth-of-type(1){ left:18%; strong{margin-right:20px;}}
        &:nth-of-type(2){ right:15%;}
      }
      p{ letter-spacing: -0.2rem; }
  }
  &__text{
      position: relative;
      &::before{
          content: '';
          display: inline-block;
          width: 10px; height: 10px;
          background: $blue;
          border-radius: 50%;
          position: absolute;
          left:-50px; top:15px;
      }
      h2{ margin-bottom: 15px; font-size: 3.5rem;}
      p{
        font-size: 1.8rem; line-height: 2;
        b,strong{font-size: 1.9rem;}
      }
  }
  &__text1{ padding-bottom: 50px; }
  &__color{
      display: inline-block;
      width: 80px; height:80px;
      background: #63b3e8;
      border-radius: 50%;
      margin: 0 10px;
      &:nth-of-type(2){background:#3885ca;}
      &:nth-of-type(3){background:#8dd3ea;}
      &:nth-of-type(4){background:#dafafc;}
  }

}

.hash{
    &__tag{
        width: 100%; height:100vh;
        position: fixed; z-index: 850;
        background:rgba(73,173,255,1);

        p{
            font-size: 3.5rem;
            color: $white;
            margin-bottom: 20px; font-weight: bold;
        }
    }
    &__text{
      position: absolute; top:50%; left:50%;
      transform-origin: 50%,50%; transform:translate(-50%,-50%);
    }
    &__img{
      width: 100%; height:100vh;
      img{
        box-shadow: 0 30px 30px rgba(0,0,0,0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
        position: absolute;
        width: 30%;  border-radius: 10px; 
        &:nth-of-type(1){left:15%;}
        &:nth-of-type(2){left:15%;}
        &:nth-of-type(3){left:15%;}
        &:nth-of-type(4){left:15%;}
        &:nth-of-type(5){left:15%;}
        &:nth-of-type(6){right:15%;}
        &:nth-of-type(7){right:15%;}
        &:nth-of-type(8){right:15%;}
        &:nth-of-type(9){right:15%;}
        &:nth-of-type(10){right:15%;}
      }
    }

}

.img{
  &__slide{
      width: 100%; height:100vh; position: fixed; z-index: 900;
      background: $white;
  }
  &__move{
      cursor: pointer;
      &:hover img{filter:grayscale(0);}
      img{
        position: absolute;
        transform-origin: 0% 50%; transform:translate(0%,-50%);
        box-shadow: 0 30px 30px rgba(0,0,0,0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
        border-radius: 20px;
        border: 1px solid $gray;
        padding:10px;
        background:$white;
        transition: .4s;
        filter:grayscale(10);
  
        &:nth-of-type(1){
          width: 60%; left:20%; top:50%;
          border-radius: 10px;
        }
        &:nth-of-type(2){width: 15%; right:15%; bottom:0%;}
        &:nth-of-type(3){width: 10%; right:25%; bottom:0%;}
      }
  }
  &__text{
    position: absolute; top:50%; left:10%; margin: 0 auto; width: 80%;
    transform-origin: 0% 50%; transform:translate(0%,-50%);
    display: flex; align-items: center; justify-content: space-around;
  }
  &__contents1{width: 50%;}
  &__contents2{width: 30%;}

}
//   daon ----------------------------------------


// 미디어쿼리------------------------------

// 미디어쿼리------------------------------
