@import url("./common.css");
.bg1 {
  position: fixed;
  z-index: 700;
  width: 100%;
  height: 100vh;
  background: white;
}

.explan__first {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 900;
  background: #f4f6fa;
}

.explan__first img {
  width: 70%;
  position: absolute;
  left: 15%;
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0 30px 30px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  padding: 10px;
}

.explan__worktitle {
  width: 70%;
  margin: 0 auto;
  margin-top: 300px;
}

.explan__worktitle p {
  font-size: 7rem;
  line-height: 1.1;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  opacity: 0;
  font-weight: bold;
  -webkit-animation: abouttitle 1s 1.5s forwards;
          animation: abouttitle 1s 1.5s forwards;
}

@-webkit-keyframes abouttitle {
  100% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
}

@keyframes abouttitle {
  100% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
}

.explan__worktitle p:nth-of-type(3) {
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0;
  margin-top: 10px;
}

.explan__arrow {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 15%;
  top: 45%;
  border-top: 1px solid #333;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: abouttitle 1s 1.5s forwards;
          animation: abouttitle 1s 1.5s forwards;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  opacity: 0;
}

.explan__arrow:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.explan__arrow::after {
  content: '';
  width: 40px;
  border-top: 1px solid #333;
  display: inline-block;
  position: absolute;
  right: 0;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.explan__second {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 750;
}

.explan__second article {
  position: absolute;
  top: 60%;
  width: 30%;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.explan__second article:nth-of-type(1) {
  left: 18%;
}

.explan__second article:nth-of-type(1) strong {
  margin-right: 20px;
}

.explan__second article:nth-of-type(2) {
  right: 15%;
}

.explan__second p {
  letter-spacing: -0.2rem;
}

.explan__text {
  position: relative;
}

.explan__text::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #008cff;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 15px;
}

.explan__text h2 {
  margin-bottom: 15px;
  font-size: 3.5rem;
}

.explan__text p {
  font-size: 1.8rem;
  line-height: 2;
}

.explan__text p b, .explan__text p strong {
  font-size: 1.9rem;
}

.explan__text1 {
  padding-bottom: 50px;
}

.explan__color {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #63b3e8;
  border-radius: 50%;
  margin: 0 10px;
}

.explan__color:nth-of-type(2) {
  background: #3885ca;
}

.explan__color:nth-of-type(3) {
  background: #8dd3ea;
}

.explan__color:nth-of-type(4) {
  background: #dafafc;
}

.hash__tag {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 850;
  background: #49adff;
}

.hash__tag p {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.hash__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 50%,50%;
          transform-origin: 50%,50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hash__img {
  width: 100%;
  height: 100vh;
}

.hash__img img {
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0 30px 30px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
  position: absolute;
  width: 30%;
  border-radius: 10px;
}

.hash__img img:nth-of-type(1) {
  left: 15%;
}

.hash__img img:nth-of-type(2) {
  left: 15%;
}

.hash__img img:nth-of-type(3) {
  left: 15%;
}

.hash__img img:nth-of-type(4) {
  left: 15%;
}

.hash__img img:nth-of-type(5) {
  left: 15%;
}

.hash__img img:nth-of-type(6) {
  right: 15%;
}

.hash__img img:nth-of-type(7) {
  right: 15%;
}

.hash__img img:nth-of-type(8) {
  right: 15%;
}

.hash__img img:nth-of-type(9) {
  right: 15%;
}

.hash__img img:nth-of-type(10) {
  right: 15%;
}

.img__slide {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 900;
  background: white;
}

.img__move img {
  position: absolute;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0 30px 30px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  padding: 10px;
  background: white;
}

.img__move img:nth-of-type(1) {
  width: 60%;
  left: 20%;
  top: 50%;
  border-radius: 10px;
}

.img__move img:nth-of-type(2) {
  width: 15%;
  right: 15%;
  bottom: 0%;
}

.img__move img:nth-of-type(3) {
  width: 10%;
  right: 25%;
  bottom: 0%;
}

.img__text {
  position: absolute;
  top: 50%;
  left: 10%;
  margin: 0 auto;
  width: 80%;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img__contents1 {
  width: 50%;
}

.img__contents2 {
  width: 30%;
}
/*# sourceMappingURL=work.css.map */